.bioborder{
    width:310px;

}
.biobordertext{

    width:100%;
white-space: normal;
display:block;
   height:fit-content;
   white-space: pre-line;
   position: absolute;
   font-size: 90%;
   font-weight:600;
   border:none;
}
.editbiotext{
    width: 100%;
    line-height: 0%;
    background-color:#F0F0F0;
    border-radius: 5%;
    font-size: 220%;
    
}
.editbiobutton11{
    display: flex;
    justify-content: center;
 padding-top: 5%;
}
.editbiobutton1{
  padding: 0px 0px;
    width:40%;
    height: 20%;
    border-radius: 10%;
    background-color:#C4C4C4;
color:black;
}
.updatebiolabel{
    color:black;
    font-weight: 500;
}
/* button:disabled {
  display:none;
} */