.topeditbutton{
background-color: white;
border: 1px solid black;
position: relative;
/* margin-top: 12%; */
/* width: -6px;
height: -6px; */
border-radius: 100%;
outline: none;

}
.topeditbutton1{
position: absolute;
top: 2px;
left: 8px;
color: black;
}

.topeditbutton:disabled{
    display: none;
}
.imageuploadsqare{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    background-color: transparent;
    padding: 0;
border: none;
background: none;

    outline: none;

}
.editbioemojiimage{
}