.appearance {
  margin-left: 10%;
}
.imageuploadandremove{
  display:flex;
}

.imageUploadButton {
  width: 100px;
  height: 37px;
  color: black;
  background: gainsboro;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  padding-top: 7px;
  cursor: pointer;
  font-family: sans-serif;
}

.clearButton,
.clearButton:hover {
  width: 100px;
  height: 37px;
  font-size: 14px;
  color: black;
  background: gainsboro;
  border: none;
  border-radius: 5px;
  padding-top: 7px;
  font-family: sans-serif;
}

.clearButton:active {
  background: grey;
}
.clearButton:disabled {
  cursor: not-allowed;
}


.load-bar {
  height: 20px;
  width: 0px;
  background: lime;
  animation: grow 5s linear forwards;
}
.heading {
  width: 50%;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.profile {
  box-shadow: 0px 0px 2px 2px #E5E5E5;
  margin-top: -2%;
  margin-left: 8%;
  padding-top: -10%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-style: solid;
  border-radius: 0;
  border-width: 0;
}

.editnameandbio{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
padding-left: 10%;
}
.editnamefield{
  margin-top: 10%;
  padding: 0% 0%;
}
.editimagewithicon{

  display: flex;
  justify-content: space-between;
  align-self: center;
position: absolute;
padding-left: 10%;
padding-top: 8%;
left: 0;
}
.editbiofield{

  padding-bottom: 10%;
  
}
.editbutton{
  width:15px;
height: 15px;
border-radius: 50px;
border-style: ridge;

}
.profileimagefield{
 position: relative;
}
.editimageicon{
  position: absolute;
bottom:0;
  right: 0;
padding-right: 0%;
}
.editprofilebutton{
  display: flex;
position: absolute;
top:0;
right: 0;
}



.avatarImg {
  background-color: lightgreen;
  width: 120px;
  height: 100px;
}
.avatar11{
  background-color: lightgreen;
}
.info {
  padding-top: 50px;
  padding-left: 1%;
}

.buttons {
  padding-top: 30px;
}

.heading_themes {
  margin-top: 30px;
  margin-left: 34px;
  margin-bottom: 40px;
}

.themes {
  margin-top: -20px;
  width: 100%;
  margin-bottom: 5%;
  position: relative;
  background-color: white;
  text-align: left;
  border-style: solid;
  border-radius: 0;
  border-width: 0;
}

.color1 {
  width: 75%;
  height: 90%;
  cursor: pointer;
  margin-left: 10%;
  /* border: 2px solid black; */
}
@media only screen and (min-device-width: 200px) and (max-device-width: 320px) {
  .info {
    /* padding-top: 50px; */
    padding-left: 117%;
  }
  .avatar11 {
    padding-left: 13%;
  }
  .profile {
    margin-top: -20px;
    margin-left: -13%;
    width: 106%;
    height: 100%;
  }
  .imageUploadButton {
    width: 150px;
  }
  .clearButton {
    width: 150px;
  }
  .themes {
    margin-left: -12%;
    width: 92%;
    position: absolute;
  }

  .color1 {
    width: 220px;
    height: 300px;
    margin-left: 6%;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 414px) {
  .appearance {
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .info {
    /* padding-top: 50px; */
    padding-left: 20%;
  }
  .avatar11 {
    padding-left: 16%;
  }
  .profile {
    margin-top: -20px;
    margin-left: 4%;
    width: 92%;
    height: 100%;
  }
  .imageUploadButton {
    margin-bottom: 20%;
  }
  /* .heading {

    margin-top: 130px;
    margin-left: 20px;
    margin-bottom: 40px;
  } */
  .themes {
    margin-left: 4%;
    width: 92%;
    position: absolute;
  }
  .color1 {
    width: 130px;
    height: 200px;
    cursor: pointer;
  }
}


@media only screen and (width: 540px) {
  .appearance {
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .info {
    padding-top: 50px;
    padding-left: 20%;
  }
  .avatar1 {
    padding-left: 21%;
  }

  .profile {
    margin-top: -20px;
    margin-left: 10%;
    width: 80%;
    height: 100%;
  }
}
