.appearance {
  margin-left:16%;
  height: 100%;

}
.heading {
  width:50%;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
}


.profile {
  margin-top: -20px;
  
width: 100%;
height: 130%;
  position: relative;
  background-color: white;
  text-align: left;
  border-style: solid;
  border-radius: 0;
  border-width: 0;
}

.imageUploadButton {
  width: 210px;
  height: 37px;


  background: blueviolet;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
margin-bottom: 30%;
  cursor: pointer;
}
.imageRemoveButton{
  width: 210px;
  height: 37px;


  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  cursor: pointer;
}



.avatarImg {
  background-color: lightgreen;
  width: 120px;
  height: 100px;
}

.info {
  padding-top: 50px;
  padding-left:1%;
}

.buttons {
  padding-top: 30px;
}

.heading_themes {
  margin-top: 30px;
  margin-left: 34px;
  margin-bottom: 40px;
}

.themes {
  margin-top: -20px;
  width: 100%;
margin-bottom: 5%;
    position: relative;
    background-color: white;
    text-align: left;
    border-style: solid;
    border-radius: 0;
    border-width: 0;
    
  
}

.color1{
width: 100%;
height: 100%;
cursor: pointer;
}
@media only screen 
and (min-device-width : 200px) 
and (max-device-width :320px) {
 
  .info {
    /* padding-top: 50px; */
    padding-left: 23%;
  }
  .avatar1{
    padding-left: 13%;
  }
  .profile {
    margin-top: -20px;
margin-left: -13%;
  width: 106%;
  height: 100%;
   
  }
  .imageUploadButton {
    width: 150px;


  }
  .imageRemoveButton{
    width: 150px;
  
  }
  .themes {
    margin-left: -12%;
    width: 92%;
position: absolute;
  }

  .color1{
    width: 220px;
    height: 300px;
  margin-left: 6%;
  cursor: pointer;
  }

}
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 414px) { 
 
  .appearance {
    margin:0px 0px;
    padding: 0px 0px;
  }
  .info {
    /* padding-top: 50px; */
    padding-left: 20%;
  }
  .avatar1{
    padding-left: 16%;
  }
  .profile {
    margin-top: -20px;
margin-left: 4%;
  width: 92%;
  height: 100%;
   
  }
  .imageUploadButton {
  margin-bottom: 20%;

  }
  /* .heading {

    margin-top: 130px;
    margin-left: 20px;
    margin-bottom: 40px;
  } */
  .themes {
    margin-left: 4%;
    width: 92%;
position: absolute;
  }
  .color1{
  width: 130px;
  height: 200px;
  cursor: pointer;
  }
}


/* @media only screen and (max-width: 414px) {
  .appearance {
    margin:0px 0px;
    padding: 0px 0px;
  }
  .info {
    padding-top: 50px;
    padding-left: 12%;
  }
  .avatar1{
    padding-left: 17%;
  }
  
  .profile {
    margin-top: -20px;
margin-left: 10%;
  width: 85%;
  height: 100%;
   
  }
} */

@media only screen and (width: 540px) {
  .appearance {
    margin:0px 0px;
    padding: 0px 0px;
  }
  .info {
    padding-top: 50px;
    padding-left: 20%;
  }
  .avatar1{
    padding-left: 21%;
  }
  
  .profile {
    margin-top: -20px;
margin-left: 10%;
  width: 80%;
  height: 100%;
   
  }
}
