.heading{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.profile{
     margin-top: -20px;
    margin-left: 50px;
    // background-color: white;
    width: 700px;
    height: 200px;
    position:relative;
    display:block;
    background-color:white;
    text-align:left;
    border-style:solid;
    border-radius:0;
    border-width:0 
}
.avatar{
    background-color:lightgreen;
    width: 120px;
    height: 100px;
  }
.info{
    padding-top: 50px;
}
.buttons{
    padding-top: 30px;
}
.heading_themes{
    margin-top: 30px;
    margin-left: 34px;
    margin-bottom: 40px;
}
.themes{
    margin-top: -20px;
   margin-left: 50px;
   // background-color: white;
   width: 700px;
   height: 300px;
   position:relative;
   display:block;
   background-color:white;
   text-align:left;
   border-style:solid;
   border-radius:0;
   border-width:0 
}

@media screen and (max-width: 800px){
    .heading{
        margin-top: 30px;
        margin-left: 10px;
    }
    .profile{
        margin-top: -20px;
        margin-left: 40px;
       // background-color: white;
       width: 500px;
       height: 200px;
       position:relative;
       display:block;
       background-color:white;
       text-align:left;
       border-style:solid;
       border-radius:0;
       border-width:0 
   }
    .avtaar {
        margin-top: 10px;
    }
    .avatar{
        background-color: lightgreen;
        width: 100px;
        height: 100px;
    }
    .info{
        padding-top: 30px;
        padding-left: 30px; 
    }
    .buttons{
        margin-top: -120px;
        padding-left: 180px;
    }
    .buttonss{
        margin-top: -70px;
        padding-left: 180px;
    }
    .heading_themes{
        margin-top: 30px;
        margin-left: 30px;
    }
    .themes{
        margin-top: -20px;
        margin-left: 35px;
       // background-color: white;
       width: 500px;
       height: 800px;
       position:relative;
       display:block;
       background-color:white;
       text-align:left;
       border-style:solid;
       border-radius:0;
       border-width:0 
   }
}