.ContainerView{
    font-size: 20px;
    background-color:white;
    color: white;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    justify-content: center;

    span{
        color: green;
    }
}