.settings {
  margin: 5% 0 0 15%;
}
/* .heading {
} */
.settingsbutton {
   width: 90%;
   font-size: 80%;
}
.changePassword {
  width: 75%;
  height: 60%;
  /* border: 1px solid black; */
  background: white;
  margin-top: 5%;
  /* margin-left: 10%; */
  padding: 2% 0 0 5%;
}
@media screen and (max-width: 280px) {
 
  .settingsbutton {
    width: 90%;
    padding: 2px 112px;
    font-size: 30%;
    white-space: nowrap;
  }
  }
  