.settings {
  margin: 5% 0 0 15%;
}
/* .heading {
} */
.settingsbutton {
   width: 100%;
   font-size: 80%;
}
.changePassword {
  display: block;
  margin-top: 40px;
  background-color: white;
  width: 500px;
  padding-right: 1%;
  padding-bottom: 2%;
}.textfield1{
  width:440px;
}
.formtextfield{
  margin-left: 3%;
}
@media screen and (max-width: 280px) and (max-device-width: 320px) {
 
 
  .changePassword {
    position: absolute;
    left: 2%;
    width: 270px;
 
    padding-right: 5%;
  }.textfield1{
    width:210px;
  }
  .formtextfield{
    margin-left: 3%;
  }
  .settingsbutton {
    width: 100%;

 }
}
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 380px) {
 
    .changePassword {
      width: 300px;
      margin-left: -8%;
      padding-right: 5%;
    }.textfield1{
      width:240px;
    }
    .formtextfield{
      margin-left: 3%;
    }
  }
  @media only screen and (min-device-width: 380px) and (max-device-width: 414px) {
 
    .changePassword {
      width: 300px;
      /* margin-left: -11%; */
      padding-right: 5%;
    }.textfield1{
      width:240px;
    }
    .formtextfield{
      margin-left: 3%;
    }
  }
  