.menucontainer{
    width: 100%;
    display: flex;
    line-height: 50px;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;

    a.activeclass{
        border-bottom: 2px solid green;
        color: red;
    }
}

@media (max-width:800px){
    .menucontainer{
        border-right: 0;
    }
}