body{
  height: 100%;
}

.sign-body {
  zoom: 0.9; /* all browsers */
  -moz-transform: scale(0.9); /* Firefox*/
  height: 100%;
}

.sign-body .signuplogo{
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin:0px 0px;
    margin-top: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    
  
}

.signuptext {
  display: flex;
  justify-content: center;
   width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-left: 80px;
    transform: translate(0%, -50%)
    
}

.signuptext1{
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px;
  padding: 0px 8px;
  margin-top: 40px;
  text-align: center;
  align-items: center;
}

.signupPart {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  width: 500px;
  padding-right: 1%;
  padding-bottom: 2%;
}

img {
  width: 50px;
  height: 50px;
  float: left;
}

.formPart{
  margin-left: 20px;
  margin-top: 50px;
  padding-top: 40px;
}

.creatAccountPart {
  width: 500px;
  color: rgb(150, 152, 153);
  font-size: "70%";
}

.link_login,
.link_login:hover {
  color: black;
  text-decoration: none;
}
.signupfooter{
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 500px;

}
.signupfooter1{
  display: flex;
padding-right:32px;
  font-size: 80%;
  color: gray;
  margin-top: 30px;
  padding-bottom: 5%;
  
}

.text-danger1{  

  background-color: #ff4c63;
  color: #fff;
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 17px;
  white-space: nowrap;
  padding: 5px 150px;
  line-height: 20px;
}
.text-danger2{  

  background-color: #ff4c63;
  color: #fff;
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 17px;
  white-space: nowrap;
  padding: 5px 110px;
  line-height: 20px;
}
.text-danger3{  

  background-color: #ff4c63;
  color: #fff;
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 17px;
  white-space: nowrap;
  padding: 5px 140px;
  line-height: 20px;
}
.text-danger4{  

  background-color: #ff4c63;
  color: #fff;
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 17px;
  white-space: nowrap;
  padding: 5px 95px;
  line-height: 20px;
}


input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: rgb(18, 187, 238);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(11, 12, 12);
}
.textfield{
  width:440px;
}
.loginbutton1{
  width: 450px;
  font-weight: 700;
  font-size: 70%;
  padding-left: 15%;
  padding-top: 10px;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 320px) {
  .sign-body .signuplogo{
    margin-top: 70px; 
}
.textfield{
  width: 230px;
}
  .signupPart{
    width: 280px;
    padding-right: 4%;
      }
      .loginbutton1 {
        padding-top: 20px;
        width: 350px;
      }
      .instaButton1 {
        padding-top: 20px;
        width: 350px;
      }
      .instaButton11 {
        width: 300px;
      }
      .email{
        width:345px;
      }
      .loginbutton1{
        width: 240px;
      }
      .readme{
        width: 300px;
      }
      .signupfooter{
        display: flex;
        width: 345px;

      
      }
    }
    
     

@media only screen and (min-device-width: 360px) and (max-device-width: 414px) {
  .signupPart{
width: 390px;
  }

  .textfield{
    width:345px;
  }
  .loginbutton1{
    width: 350px;
  }
  .signupfooter{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
 margin: 0px 0px;
    width: 390px;
    padding-bottom: 0%;
  
  }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 768px) {
  .signupPart{
width: 550px;
  }

  .textfield{
    width:475px;
  }
  .loginbutton1{
    width: 480px;
  }
  .signupfooter{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
 margin: 0px 0px;
    width: 390px;
    padding-bottom: 0%;
  
  }
}