.app {
  height: 100vh;
  /* height: 100%; */
  display: flex;
}

@media (max-width: 800px) {
  .app {
    flex-direction: column;
  }

  .app :nth-child(1) {
    order: 1;
  }
  .app :nth-child(2) {
    order: 3;
  }
  .app :nth-child(3) {
    order: 2;
  }
}
